<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{newSub}"/>
</head>
<body>
<div th:if="${task == null}">
    <p th:text="#{taskNF}"/>
</div>
<div th:if="${!(task==null)}">
    <h2 th:text="#{newSub}"/>
    <form th:action="@{/tasks/addSubtask}" method="post" th:object="${subtask}">
        <p><label for="title"><strong th:text="#{title}"/></label><input type="text" th:field="*{title}" name="title" id="title" required></p>
        <p th:errors="*{title}"/>
        <p><label for="description"><strong th:text="#{desc}"/></label><input type="text" th:field="*{description}" name="title" id="description" required></p>
        <p th:errors="*{description}"/>
        <p><input type="hidden" th:value="${task.uuid}" name="taskID"></p>
        <p><input type="submit" id="addSubtask" th:value="#{submit}"></p>
    </form>
</div>
<div th:insert="lang.html"/>
</body>
</html>