<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{edit}"/>
</head>
<body>
<div th:if="${task == null}">
    <p th:text="#{taskNF}"/>
</div>
<div th:if="${!(task==null)}">
    <h2 th:text="#{edit}"/>
<form th:action="@{/tasks/edit}" method="post" th:object="${task}">
    <p><label for="title"><strong th:text="#{title}"/></label><input type="text" th:field="*{title}" name="title" id="title" required></p>
    <p th:errors="*{title}"/>
    <p><label for="description"><strong th:text="#{desc}"/></label><input type="text" th:field="*{description}" name="title" id="description" required></p>
    <p th:errors="*{description}"/>
    <p><label for="date"><strong th:text="#{due}"/></label><input type="datetime-local" th:field="*{dueDate}" name="title" id="date" required></p>
    <p th:errors="*{dueDate}"/>
    <p><input type="hidden" th:field="*{uuid}"></p>
    <p><input type="submit" id="editTask" th:value="#{submit}"></p>
</form>
</div>
<div th:insert="lang.html"/>
</body>
</html>