<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{signin}"/>
</head>
<body>
<h1 th:text="#{signin}"/>
<p th:if="${param.logout}" th:text="#{logOut}"/>
<p th:if="${param.error}" th:text="#{err}"/>
<form th:method="post" th:action="@{/login}">
    <div>
        <label for="username" th:text="#{user}"/>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password" th:text="#{pwd}"/>
        <input type="password" id="password" name="password">
    </div>
    <input type="submit" th:value="#{submit}">
</form>
<a th:href="@{/signup}" th:text="#{signup}"/>
</body>
</html>
