<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Detail</title>
</head>
<body>
<header th:insert="navbar.html"/>
<div th:if="${task == null}">
    <p th:text="'Task not found'"/>
</div>
<div th:if="${!(task == null)}">
    <h2 th:text="'Task detail'"/>
    <table>
        <tr>
            <th th:text="'Title'"/>
            <th th:text="'Description'"/>
            <th th:text="'Due Date'"/>
        </tr>
        <tr>
            <td th:text="${task.title}"/>
            <td th:text="${task.description}"/>
            <td th:text="${task.getDateString()}"/>
            <td><a th:href="@{/tasks/__${task.uuid}__/sub/create}">Add subtask</a></td>
        </tr>
    </table>
    <div th:if="${!task.getSubtasks().isEmpty()}">
        <h3 th:text="'Subtasks'"/>
        <table>
            <tr>
                <th th:text="'Title'"/>
                <th th:text="'Description'"/>
            </tr>
            <tr th:each="subtask: ${task.getSubtasks()}">
                <td th:text="${subtask.title}"/>
                <td th:text="${subtask.description}"/>
            </tr>
        </table>
    </div>
</div>
</body>
</html>